@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');
*{
    font-family: 'Yomogi', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: radial-gradient(#060b2a,#facc0c);
    color: #fff;
    min-height: 100vh;
    
}
header {
    font-size: 1.5rem;
}
header ,form{
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: #b1b0b8;
    border-radius: 0px;
    color: #fff;
    transition: 0.7s;
}
form input:hover{
    background: #facc0c;
    color: #000;
    
    
}
form button{
    background: #b1b0b8;
    color: rgb(28, 14, 107);
    cursor: pointer;
    transition: all 0.3s ease;
}
form button:hover{
    background: rgb(28, 14, 107);
    color: #b1b0b8;
}
.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list{
    min-width: 30%;
    list-style: none;
}
.todo{
    margin: 0.5rem;
    background: #fff;
    color: #000;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}
.todo li{
    flex: 1;
}
.trash-btn , .complete-btn{
    background: rgba(238, 187, 18, 0.877);
    color: #fff;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}
.complete-btn{
    background: rgba(6, 240, 6, 0.877);
}
.todo-item{
    padding: 0rem 0.5rem;
}
.fa-trash, .fa-check{
    /* pointer-events: none; means that we don't need to click on a specific part of the button/icon but we can click on both or them or any one of them and it would still work */
    pointer-events: none;
}
.completed{
    text-decoration: line-through;
    opacity: 0.4;
}
.fall{
    transform: translateZ(8rem) rotateZ(180deg);
    opacity: 0;
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}
.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}
select{
    color:#060b2a;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}
.select::after{
    content:"\25BC";
    position: absolute;
    top: 0;
    right: 0;
    background: #facc0c;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.5s ease ;
}
.select:hover::after{
    background: #fff;
    color: #facc0c;
}